{% load static %}
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
  <!-- JS Cookie -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

  <!-- jQuery Scrollbar - YORUMA ALINDI (CDN sorun çıkarıyordu) -->
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js" integrity="sha512-F4L6ZiWdVnSFgk7LlaTbpqkt6FApVlVII5C48701TaLF74CpBOUN1ktDfPeZNBAm/NxuFwrq8QJ1e1zBJdSAjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  -->
  
  <!-- Argon JS -->
  <script src="{% static 'assets/js/argon.js' %}?v=1.3.0"></script>